<h1>All Pins</h1>

<% @pins.each do |pin| %>
	<%= link_to 'Show', pin %>
	<%= link_to 'Edit', edit_pin_path(pin) %>
	<%= link_to 'Delete', pin, method: :delete, data: {
		confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Pin', new_pin_path %>