<div id="masonry-grid" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300 }'>
	<% @pins.each do |pin| %>
		<div class="card grid-item">
		  <div class="card-image"><%= image_tag pin.image.url %>
		  </div>
		  <div class="card-block">
		    <p class="card-text"><%= pin.description %></p>
		  </div>
	<% end %>
</div>

<script>
ready();
</script>