/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.headingName {
 	font-size: 48px;
 	letter-spacing: -1.75px;
 	line-height: 56px;
 	word-spacing: -2.75px;
 	font-weight: bold;
 	color: #555;
 	font-family: "Helvetica Neue", Helvetica
}

.navbar {
    position: static;
    height: 64px;
    margin-bottom: 20px;
    border: 1px solid #b5b5b5;
    border-radius: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #555;
    background-color: #efefef;
    border-radius: 100px;
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 20px;
    word-spacing: 0;
}

.nav-pills > li > a {
    color: #b5b5b5;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 20px;
    word-spacing: 0;
}

.boardName {
	color: #555;
	font-size: 48px;
    letter-spacing: -1.75px;
    line-height: 56px;
    word-spacing: -2.75px;
    font-weight: bold;
}

.boardLabel {
	font-size: 21px;
    letter-spacing: -0.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: bold;
    color: #555;
}

a:hover {
    text-decoration: none;
}

div.card img {
	max-width: 236px;
	border-radius: 8px;
    position: relative;
}

div.card img:hover {
    opacity: 0.8;
}

.card a {
    display: none;
}

.card:hover a {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

a.btn.btn-xs.btn-default.delete {
    left: 45px;
}

.card {
    float: left;
	width: 256px;
	margin: auto;
    padding: 10px;
    position: relative;
}