/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.home img{
    display:block;
    margin:auto;
    border-radius: 8px;
}

.headingName {
 	font-size: 48px;
 	letter-spacing: -1.75px;
 	line-height: 56px;
 	word-spacing: -2.75px;
 	font-weight: bold;
 	color: #555;
 	font-family: "Helvetica Neue", Helvetica
}

.navbar {
    position: static;
    height: 64px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b5b5b5;
    border-radius: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #555;
    background-color: #efefef;
    border-radius: 100px;
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 20px;
    word-spacing: 0;
}

.nav-pills > li > a {
    color: #b5b5b5;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 20px;
    word-spacing: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

ul.nav.nav-pills {
    margin-bottom: 5px;
}

.boardName {
	color: #555;
	font-size: 48px;
    letter-spacing: -1.75px;
    line-height: 56px;
    word-spacing: -2.75px;
    font-weight: bold;
}

.boardLabel {
	font-size: 21px;
    letter-spacing: -0.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: bold;
    color: #555;
}

.image-cropper {
    border-radius: 50%;
    margin: 10px;
    width: 156px;
    height: 156px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
  
.image-cropper img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

div.board-image img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

.board {
    padding-bottom: 15px;
    position: relative;
}

.board:hover {
    opacity: .8;
}

.board .btn {
    display: none;
}

.board:hover .btn {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.board a.btn.delete {
    top: 10px;
    left: 60px;
}

.pin-count {
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 14px;
    word-spacing: 0;
    color: #b5b5b5;
    font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.navbar-header img {
    width: 28px;
    height: 28px;
    margin-top: 18px;
}

.pin {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    padding: 5px;

}

img.pin-img-top {
    border-radius: 8px;
    margin-bottom: 0px;
    width: 236px;
    
}

.container {
    column-count: 5;
    column-gap: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.pin:hover {
    opacity: .8;
}

.pin-block {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.pin a {
    display: none;
}

.pin:hover a {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.pin a.btn.delete {
    top: 10px;
    left: 60px;
}

.profile-image a {
    display: none;
}

.profile-image:hover a {
    display: block;
    position: absolute;
    top: 80px;
    left: 50px;    
}

.profile-image {
    position: relative;
}

.new-board-button {
    margin-right: auto;
    align-self: flex-end;
    position: absolute;
}